@font-face {
  font-family: "iconfont"; /* Project id 3665548 */
  src: url('iconfont.woff2?t=1678336174178') format('woff2'),
       url('iconfont.woff?t=1678336174178') format('woff'),
       url('iconfont.ttf?t=1678336174178') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin11:before {
  content: "\e63e";
}

.icon-shipin12:before {
  content: "\e60d";
}

.icon-shipin13:before {
  content: "\e656";
}

.icon-shipin_o:before {
  content: "\eb81";
}

.icon-shipin14:before {
  content: "\e664";
}

.icon-shipin15:before {
  content: "\e623";
}

.icon-shipin16:before {
  content: "\e853";
}

.icon-shipin17:before {
  content: "\e61e";
}

.icon-yonghu:before {
  content: "\e613";
}

.icon-yonghu1:before {
  content: "\e647";
}

.icon-shipintonghua:before {
  content: "\e670";
}

.icon-jurassic_user:before {
  content: "\e6a4";
}

.icon-yonghu2:before {
  content: "\e614";
}

.icon-shipinluxiang:before {
  content: "\e68d";
}

.icon-xiaoshipinyingshi48:before {
  content: "\e6ff";
}

.icon-duanshipinhuati:before {
  content: "\e876";
}

.icon-dianying2:before {
  content: "\e605";
}

.icon-shipinjiaocheng:before {
  content: "\e60b";
}

.icon-shipin:before {
  content: "\e60e";
}

.icon-shipin1:before {
  content: "\e60f";
}

.icon-shipin2:before {
  content: "\e618";
}

.icon-ziyuan:before {
  content: "\e631";
}

.icon-ICAtubiao_shipin:before {
  content: "\e611";
}

.icon-duanshipin:before {
  content: "\e67c";
}

.icon-shipin3:before {
  content: "\e60c";
}

.icon-icon-:before {
  content: "\e666";
}

.icon-shipin4:before {
  content: "\e602";
}

.icon-shipin21:before {
  content: "\e636";
}

.icon-dianying3:before {
  content: "\e6fd";
}

.icon-shipin5:before {
  content: "\e612";
}

.icon-dianshizhiboguankanshipinbofangmeiti:before {
  content: "\e60a";
}

.icon-shipinbofang1:before {
  content: "\e622";
}

.icon-shipin6:before {
  content: "\e603";
}

.icon-shipin7:before {
  content: "\e667";
}

.icon-shipin8:before {
  content: "\e606";
}

.icon-shipin9:before {
  content: "\e76f";
}

.icon-shipinxuexi:before {
  content: "\e607";
}

.icon-kechengshipin:before {
  content: "\e67d";
}

.icon-tubiao_dianying:before {
  content: "\e619";
}

.icon-shipin10:before {
  content: "\e610";
}

.icon-shipinbofangliang:before {
  content: "\e608";
}

.icon-wo:before {
  content: "\e601";
}

.icon-wode:before {
  content: "\e62b";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-hanbaobao:before {
  content: "\e604";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-shipinbofang:before {
  content: "\e600";
}

.icon-dianying:before {
  content: "\e661";
}

.icon-dianying1:before {
  content: "\e8ae";
}

.icon-dianyingpiao:before {
  content: "\e8af";
}

.icon-pingmu:before {
  content: "\e90b";
}

.icon-yanchu-xianxing2-0:before {
  content: "\e683";
}

